@import "tailwindcss";
@theme {
    --font-dm-serif: "Playfair Display", serif;
    --font-montserrat: "Montserrat", sans-serif;
    --animate-float: float 3s ease-in-out infinite;
    --color-jitara-blue: #003376;
    --color-jitara-orange: #d26206;

    @keyframes float {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
    }
}
